/*==========  VARIABLES  ==============*/

:root {
  /* Fonts */
  --font-family-inter: "Inter", sans-serif;

  /* Colors */
  /* --color-primary: #6D4FC2;
  --color-secondary: #593bab;
  --color-white: #FFFFFF;
  --color-background-start: #F4F0FF;
  --color-background-end: #DACDFF;
  --color-bot-message-bg: #F6F2FF;
  --color-scrollbar-track: transparent;
  --color-scrollbar-thumb: #DDD3F9;
  --color-scrollbar-thumb-hover: #D3C2F9;
  --color-outline: #CCCCE5; */

  /* Colors 2 */
  --color-primary: #0C8A7B;  
  --color-secondary: #0B6A60;      
  --color-white: #FFFFFF;
  --color-background-start: #EBF9F8;
  --color-background-end: #D7F2F1; 
  --color-bot-message-bg: #F1FCFB; 
  --color-scrollbar-track: transparent;
  --color-scrollbar-thumb: #CBEAE8;
  --color-scrollbar-thumb-hover: #B5E2E0;
  --color-outline: #BCE2E2;   

  /* Dimensions and indents */
  --size-toggler: 50px;
  --size-header-icon: 35px;
  --size-body-gap: 20px;
  --size-footer-button: 35px;
  --size-border-radius: 15px;
  --size-border-radius-large: 32px;
  --size-border-radius-message: 13px;
  --spacing-chat-header: 15px 22px;
  --spacing-chat-body: 25px 22px;
  --spacing-chat-footer: 15px 22px 20px;

  /* Others */
  --transition-default: 0.2s ease;
  --transition-popup: 0.3s ease;
  --animation-message-appear: message-appear 0.3s ease-out forwards;
}

/*==========   RESET STYLES  ==============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-inter);
}

/*==========   MAIN BACKGROUND   ==============*/

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(var(--color-background-start), var(--color-background-end));
}

/*==========   TOGLER BUTTON   ==============*/

#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: var(--size-toggler);
  width: var(--size-toggler);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  transition: all var(--transition-default);
}

#chatbot-toggler span {
  position: absolute;
  color: var(--color-white);
}

.container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}

/*==========   POPUP CHAT   ==============*/

.chatbot-popup {
  position: fixed;
  bottom: 90px;
  right: 35px;
  width: 420px;
  overflow: hidden;
  background: var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translate(20px, 20px);
  transition: opacity var(--transition-popup), transform var(--transition-popup);
}

.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
}

/*==========   CHAT HEADER   ==============*/

.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-chat-header);
  background: var(--color-primary);
}

.chatbot-popup .chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chatbot-popup .chat-header .header-info svg {
  flex-shrink: 0;
  height: var(--size-header-icon);
  width: var(--size-header-icon);
  padding: 6px;
  fill: var(--color-primary);
  background: var(--color-white);
  border-radius: 50%;
}

.chatbot-popup .chat-header .header-info .logo-text {
  color: var(--color-white);
  font-size: 1.31rem;
  font-weight: 600;
}

.chatbot-popup .chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.9rem;
  color: var(--color-white);
  background: none;
  border-radius: 50%;
  margin-right: -10px;
  padding-top: 2px;
  transition: var(--transition-default);
}

.chatbot-popup .chat-header button:hover {
  background: var(--color-secondary);
}

/*==========   CHAT BODY   ==============*/

.chatbot-popup .chat-body {
  display: flex;
  flex-direction: column;
  gap: var(--size-body-gap);
  height: 460px;
  overflow-y: auto;
  padding: var(--spacing-chat-body);
  margin-bottom: 82px;
  scroll-behavior: smooth;
}

.chatbot-popup .chat-body::-webkit-scrollbar {
  width: 8px;
}

.chatbot-popup .chat-body::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

.chatbot-popup .chat-body::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid transparent;
}

.chatbot-popup .chat-body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

/* Message Animation */
@keyframes message-appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatbot-popup .chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: var(--animation-message-appear);
}

.chatbot-popup .chat-body .bot-message svg {
  flex-shrink: 0;
  height: var(--size-header-icon);
  width: var(--size-header-icon);
  padding: 6px;
  fill: var(--color-white);
  background: var(--color-primary);
  border-radius: 50%;
  align-self: flex-end;
  margin-bottom: 2px;
}

.chatbot-popup .chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chatbot-popup .chat-body .bot-message .message-text {
  background: var(--color-bot-message-bg);
  border-radius: var(--size-border-radius-message) var(--size-border-radius-message) var(--size-border-radius-message) 3px;
}

.chatbot-popup .chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-popup .chat-body .user-message .message-text {
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: var(--size-border-radius-message) var(--size-border-radius-message) 3px var(--size-border-radius-message);
}

/*==========   CHAT FOOTER   ==============*/

.chatbot-popup .chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-white);
  padding: var(--spacing-chat-footer);
}

.chatbot-popup .chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: var(--color-white);
  border-radius: var(--size-border-radius-large);
  outline: 1px solid var(--color-outline);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
  transition: outline var(--transition-popup);
  gap: 8px;
}

.chatbot-popup .chat-footer .chat-form:has(.message-input:valid) {
  outline: 2px solid var(--color-primary);
}

.chatbot-popup .chat-form .message-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}

.chatbot-popup .chat-form button {
  height: var(--size-footer-button);
  width: var(--size-footer-button);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: var(--color-white);
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--color-primary);
  margin-right: 6px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: opacity 0.25s ease 0.1s, transform 0.25s ease 0.1s;
}

.chatbot-popup .chat-form button:hover {
  background: var(--color-secondary);
}

.chatbot-popup .chat-form:has(.message-input:valid) button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/*==========   ADAPTIVE  ==============*/

@media (max-width: 520px) {
  #chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chatbot-popup .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .chatbot-popup .chat-footer {
    padding: 10px 15px 15px;
  }
}